.comment { clear:both; border:3px solid #dddddd; padding:25px; margin-bottom:40.45px; }
.comment .user-picture a { display:block; width:64px; height:64px; }
.comment img { width:100%; }
.comment .pull-left { margin-right:25px; }
.comment .indented { padding-left:74px; border-left:1px solid #dddddd; margin-top:-25px; }
.comment h3 { margin-top:0.3em; }
.comment .post-date { font-style:italic; font-size:14px; }
.comment .links { float:right; margin:15px 0; clear:both; font-size:14px; }
.comment .comment,.comment #comment-form { border:3px solid #dddddd; padding:25px; margin-bottom:40.45px; }
.comment .title.comment-form { margin-top:30px; }
