.dxpr-theme-secondary-header { z-index:4050; padding-top:0px; padding-bottom:0px; line-height:1.2em; background:#cfb991; color:#000001; }
.dxpr-theme-secondary-header a { color:#000000; }
.dxpr-theme-secondary-header a:hover,.dxpr-theme-secondary-header a:focus { text-decoration:underline; }
.dxpr-theme-secondary-header .block,.dxpr-theme-secondary-header p { margin-bottom:0; }
.dxpr-theme-secondary-header .secondary-header-container { margin-bottom:0; }
.dxpr-theme-secondary-header ul.menu { float:right; margin-top:0; margin-bottom:0; }
.dxpr-theme-secondary-header ul.menu a { padding-top:15px; padding-bottom:15px; line-height:1.2em; font-size:0.875rem; }
.dxpr-theme-secondary-header ul.menu a:hover,.dxpr-theme-secondary-header ul.menu a:focus { background:transparent; text-decoration:underline; }
.dxpr-theme-secondary-header ul.menu li { float:left; }

