.prev-next { text-transform:uppercase; letter-spacing:0.1em; margin:20px 0; }
.prev-next .prev,.prev-next .next { width:48%; }
.prev-next a.nextprev-link { display:table; width:100%; }
.prev-next .dxpr-theme-icon,.prev-next .nextprev-text { display:table-cell; vertical-align:middle; line-height:1em; }
.prev-next .dxpr-theme-icon { height:auto; width:8px; }
.prev-next .dxpr-theme-icon svg { width:8px; display:inline-block; }
.prev-next .nextprev-text { transition:transform 0.2s ease 0s; transform:translateZ(0); backface-visibility:hidden; margin-bottom:-1px; }
.prev-next .prev { text-align:left; }
.prev-next .prev .dxpr-theme-icon { padding-right:15px; }
.prev-next .prev .nextprev-link:hover .nextprev-text,.prev-next .prev .nextprev-link:focus .nextprev-text { transform:translateX(-5px); }
.prev-next .next { text-align:right; }
.prev-next .next .dxpr-theme-icon { padding-left:15px; }
.prev-next .next .nextprev-link:hover .nextprev-text,.prev-next .next .nextprev-link:focus .nextprev-text { transform:translateX(5px); }
.prev-next a { text-decoration:none; }
.prev-next a:hover,.prev-next a:focus { text-decoration:none; }
